<template>
    <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Địa chỉ</h3>
                <router-link to="/add-address">Thêm địa chỉ</router-link>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>                  
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Tên thành phố</th>
                      <th>Mã thành phố</th>
                      <th>Địa chỉ</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(address,index) in Pagi_address.data" :key="address.id">
                      <td>{{index+1}}</td>
                      <td>{{address.district.d_name}}</td>
                      <td>{{address.district.d_code}}</td>
                      <td>{{address.a_name}}</td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <pagination :data="Pagi_address"  @pagination-change-page="changePagiAddress">
                </pagination>
              </div>
            </div>
            <!-- /.card -->

          </div>
</template>
<script>
export default {
    data(){
      return {
          Pagi_address: {},
      }
    },
    mounted(){
        this.changePagiAddress();
    },
    computed:{
    },
    methods: {
      changePagiAddress(page) {
                if (typeof page === 'undefined') {
                    page = 1;
                }
                axios.get('/all-address?page=' + page)
                    .then(response => {
                        this.Pagi_address = response.data
                    });
            }
    }
}
</script>