
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

//import main
@import 'main';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//lte-admin
@import '~admin-lte/dist/css/adminlte.css';

//font-aw

@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~@fortawesome/fontawesome-free/css/brands.min.css";
@import "~@fortawesome/fontawesome-free/css/regular.min.css";
@import "~@fortawesome/fontawesome-free/css/solid.min.css";
@import "~@fortawesome/fontawesome-free/css/svg-with-js.min.css";
@import "~@fortawesome/fontawesome-free/css/v4-shims.min.css";
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
