<template>
     <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Thêm shop</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" @submit.prevent ="newshop()" enctype="multipart/form-data">
                <div class="card-body">
                  <div class="form-group">
                    <label for="nameShop">Tên shop</label>
                    <input type="text" class="form-control" :class="{ 'is-invalid': form.errors.has('name_shop') }" 
                    v-model="form.name_shop" id="nameShop" name="name_shop" placeholder="Nhập tên shop">
                    <has-error :form="form" field="name_shop"></has-error>
                  </div>
                  <div class="form-group">
                    <label for="ownerShop">Tên chủ shop</label>
                    <input type="text" class="form-control" id="ownerShop"  :class="{ 'is-invalid': form.errors.has('fullname') }"
                     v-model="form.fullname" name="fullname" placeholder="Nhập tên chủ shop">
                    <has-error :form="form" field="fullname"></has-error>
                  </div>
                  <div class="form-group">
                    <label for="ownerShop">Tên đường dẫn</label>
                    <input type="text" class="form-control" id="ownerShop"  :class="{ 'is-invalid': form.errors.has('domain') }"
                     v-model="form.domain" name="domain" placeholder="Nhập tên đường dẫn của bạn">
                    <has-error :form="form" field="domain"></has-error>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6 ">
                        <label for="city">Thành phố</label>
                        <select v-model="form.dis_id" class="form-control" name="dis_id" :class="{ 'is-invalid': form.errors.has('dis_id') }">
                            <option disabled >Chọn thành phố</option>
                            <option v-for="district in getAllDistrict()" :key="district.id" :value="district.dis_id" >{{district.title}}</option>
                        </select>
                        <has-error :form="form" field="dis_id"></has-error>
                    </div>
                    <div class="col-sm-6">
                        <label for="addrShop">Địa chỉ shop</label>
                        <input type="text" class="form-control"  :class="{ 'is-invalid': form.errors.has('add_shop') }"
                         id="addrShop" v-model="form.add_shop" name="add_shop" placeholder="Nhập địa chỉ shop">
                        <has-error :form="form" field="add_shop"></has-error>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="EmailShop">Email</label>
                    <input type="email" class="form-control"  :class="{ 'is-invalid': form.errors.has('email_shop') }"
                    id="EmailShop" v-model="form.email_shop" name="email_shop" placeholder="Nhập email">
                    <has-error :form="form" field="email_shop"></has-error>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Số điện thoại</label>
                    <input type="number" v-model="form.phone_shop"  :class="{ 'is-invalid': form.errors.has('phone_shop') }"
                     class="form-control" id="exampleInputEmail1" name="phone_shop" placeholder="Nhập số điện thoại">
                    <has-error :form="form" field="phone_shop"></has-error>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Mô tả</label>
                    <markdown-editor v-model="form.description" name="description" placeholder="Thêm mô tả của shop"
                    :class="{ 'is-invalid': form.errors.has('description') }"
                    ></markdown-editor>
                    <has-error :form="form" field="description"></has-error>
                  </div>
                  <div class="form-group">
                    <label for="pic_shop">Ảnh shop</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input @change="changephoto" :class="{ 'is-invalid': form.errors.has('picture_shop') }" type="file" class="custom-file-input" name="picture_shop" id="pic_shop">
                        <label class="custom-file-label" for="exampleInputFile">Chọn ảnh</label>
                      </div>
                    </div>
                    <has-error :form="form" field="picture_shop"></has-error>
                  </div>
                  <div class="form-group pic">
                    <a>
                        <img :src="/UploadImage/+form.picture_shop" alt="">
                    </a>
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Thêm mới</button>
                </div>
              </form>
            </div>
            <!-- /.card -->


          </div>
          
        </div>
</template>
<script>
export default {
    data(){
        return {
            form: new Form({
                name_shop: '',
                fullname: 'Đang cập nhật',
                add_shop: '',
                email_shop: 'Đang cập nhật',
                phone_shop:'Đang cập nhật',
                dis_id: '',
                domain:'',
                description: '',
                picture_shop: ''
            })
        }
    },
    created(){
        this.getInfo();
        
    },
    mounted(){
    },
    methods:{
        getInfo(){
            axios.get(`/editshop/${this.$route.params.id}`).then(res=>{
                this.form.fill(res.data),
                this.form.name_shop = res.data.name,
                this.form.add_shop = res.data.adress.name,
                this.form.dis_id = res.data.adress.dis_id,
                this.form.picture_shop = res.data.photos
                
            }).catch(()=>{console.log('erors')})
        },
        getAllDistrict(){
            return this.$store.getters.getDistrict;
        },
        changephoto(event){
            let file = event.target.files[0];
            if(file.size > 10485760)
            {
                swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Hình ảnh quá kích thước!',
                footer: '<a href>Why do I have this issue?</a>'
                })
            }
            else {
                let reader = new FileReader();
                reader.onload = (event) => {
                  this.form.picture_shop = event.target.result;
                };
                reader.readAsDataURL(file);
            } 
        },

    },
    computed: {

    }

}
</script>